.entradaPersona {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.15rem;
    border-color: white;
    width: 32.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-image: url(../images/fondo-aportacion.png);
    
    
}

.entradaPersona > input {
    margin: 0.2rem;
    height: 1.5rem;
    color: rgb(54, 54, 231);
    border-style: solid;
}

.nombre {
    width: 10rem;
    font-size: 1rem;
}

.entradaPersona > img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}