
.saldo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.saldo p {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.saldo img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
}