
.saldo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 14rem;
    justify-content: space-between;
}

.saldo p {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 8rem;
  text-align: center;
}

.saldo img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
}